@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lato:wght@700;900&family=Poppins:wght@600;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');
  
body{
    font-family: 'Work Sans', sans-serif;
}


             /*this is navbar section*/

#nav-logo{
    width: 86px;
    height: 40px;
}
.leftside-navbar h3{
    font-size: 45px;
}
.leftside-navbar{
    display: flex;
    align-items: center;
    gap: 15px;
}
.rightside-navbar {
    list-style: none;
    display: flex;
    align-items: center;

}
.rightside-navbar li{
    margin-right: 20px;
}
#nav-button{
    padding: 15px 25px;
}

.nav-container{
 display: flex;
 justify-content: space-around;
 align-items: center;
}

    /*this is banner section*/

    .banner-container{
        display: flex;
        align-items: center;
      
    
    }

    .left-banner{
        
       width: 50%;
        background-image: url('images/Group\ 14.png');
         background-size: cover;
         text-align: center;
         padding-top: 100px;
         padding-bottom: 100px;
        
    }
    #banner-button-1{
        background-color: #F948B2;
        padding: 15px 25px;
        border: none;
        border-radius: 25px;
        color: white;
        font-size: 16px;
        margin-right: 15px;
        font-weight: 600;
    }
    #banner-button-2{
        background-color: #4EC5F7;
        padding: 15px 25px;
        border: none;
        border-radius: 25px;
        color: white;
        font-size: 16px;
        font-weight: 600;
    }

    .right-banner{
        width: 50%;
        min-height: 50px;
    }
    .right-banner img{
        width: 80%;
        margin: 0 auto;
        
    }
    .left-banner h1{
        background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        color: transparent;
        -webkit-background-clip: text;
        font-size: 65px;
        font-weight: 800;
    }
    .left-banner h3{
        font-size: 40px;
    }

        /*This is online game section*/

  .online-game-headline{
    text-align: center;
  }     
  .online-game-headline h1{
    font-size: 55px;
    margin-top: 50px;
  } 
  .online-game-headline p{
    color: #534C64;
  }
  .game-1 img, .game-2 img, .game-3 img, .game-4 img{
     height: 300px;
  }
  .game-container p{
    color: #534C64;
  }
  .game-container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }














@media screen and (max-width: 576px) {
    .nav-container{
        flex-direction: column;
    }
    .rightside-navbar{
        flex-direction: column;
       
    }
    .rightside-navbar li{
        margin-bottom: 20px;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .right-banner{
        margin-top: 20px;
        width: 100%;
    }
    .left-banner{
        width: 100%;
    }
    .right-banner img{
        width: 100%;
    }
    .game-container{
        flex-direction: column;
       margin-left: 60px;
    }
    .online-game-headline h1{
          font-size: 25px;
    }
    .online-game-headline p{
        font-size: 12px;
    }
}