@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lato:wght@700;900&family=Poppins:wght@600;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');
  
body{
    font-family: 'Work Sans', sans-serif;
}


             /*this is navbar section*/

#nav-logo{
    width: 86px;
    height: 40px;
}
.leftside-navbar h3{
    font-size: 45px;
}
.leftside-navbar{
    display: flex;
    align-items: center;
    gap: 15px;
}
.rightside-navbar {
    list-style: none;
    display: flex;
    align-items: center;

}
.rightside-navbar li{
    margin-right: 20px;
}
#nav-button{
    padding: 15px 25px;
}

.nav-container{
 display: flex;
 justify-content: space-around;
 align-items: center;
}

    /*this is banner section*/

    .banner-container{
        display: flex;
        align-items: center;
      
    
    }

    .left-banner{
        
       width: 50%;
        background-image: url('images/Group\ 14.png');
         background-size: cover;
         text-align: center;
         padding-top: 100px;
         padding-bottom: 100px;
        
    }
    #banner-button-1{
        background-color: #F948B2;
        padding: 15px 25px;
        border: none;
        border-radius: 25px;
        color: white;
        font-size: 16px;
        margin-right: 15px;
        font-weight: 600;
    }
    #banner-button-2{
        background-color: #4EC5F7;
        padding: 15px 25px;
        border: none;
        border-radius: 25px;
        color: white;
        font-size: 16px;
        font-weight: 600;
    }

    .right-banner{
        width: 50%;
        min-height: 50px;
    }
    .right-banner img{
        width: 80%;
        margin: 0 auto;
        
    }
    .left-banner h1{
        background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        color: transparent;
        -webkit-background-clip: text;
        font-size: 65px;
        font-weight: 800;
    }
    .left-banner h3{
        font-size: 40px;
    }

        /*This is online game section*/

  .online-game-headline{
    text-align: center;
  }     
  .online-game-headline h1{
    font-size: 55px;
    margin-top: 50px;
  } 
  #video-section-head-color{
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
  }
  .online-game-headline p{
    color: #534C64;
  }
  .game-1 img, .game-2 img, .game-3 img, .game-4 img{
     height: 300px;
  }
  .game-container p{
    color: #534C64;
  }
  .game-container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
   
       /* this is body section*/

  .right-body-container img{
    height: 500px;
    margin-left: 100px;
    
}
.left-body-container h1{
   font-size: 40px;
   text-align: right;
  
}
.left-body-container p{
    color:#534C64 ;
    text-align: right;
}
.left-body-container{
   padding-top: 100px;
}
.right-body-container{
    
}
.body-container{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    
    gap: 200px;
  
}
#image-position-1 img{
        width: 300px;
        height: 350px;
        position: relative;
        bottom: 220px;
        right: 100px;
}


       /*this is hover border section)*/

.all-hover-container{
     display: grid;
    grid-template-columns: repeat(5,1fr);
    row-gap: 15px;
    column-gap: 10px;
    justify-content: center;
   margin-left: 60px;
   padding-bottom: 80px;
   
}
.item{
    display: flex;
    gap: 10px;
   padding: 8px 16px;
}
.item:hover{
    border: 2px solid #F948B2;
    border-radius: 35px;
    color: #F948B2;
}



      /*this is footer section)*/

.footer{
    background-color: #0B0223;
    color: white;
    text-align: center;
    
}
.footer-head{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}
.footer-anchor{
    display: flex;
    justify-content: center;
    gap: 55px;
    margin-top: 50px;
    
}
.footer-anchor a{
    text-decoration: none;
    color: white;
}
.fa-brands{
   margin-right: 25px;
   margin-top: 50px;
   font-size: 35px;
}
.footer-para{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    
}
#footer-down{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}













@media screen and (max-width: 576px) {
    .nav-container{
        flex-direction: column;
    }
    .rightside-navbar{
        flex-direction: column;
       
    }
    .rightside-navbar li{
        margin-bottom: 20px;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .right-banner{
        margin-top: 20px;
        width: 100%;
    }
    .left-banner{
        width: 100%;
    }
    .right-banner img{
        width: 100%;
    }
    .game-container{
        flex-direction: column;
       margin-left: 60px;
    }
    .online-game-headline h1{
          font-size: 25px;
    }
    .online-game-headline p{
        font-size: 12px;
    }
    .body-container{
        flex-direction: column;
    }
    .left-body-container{
        text-align: center;
        padding-right: 60px;
        padding-top: 0px;
        margin-top: -40px;
    }
    .right-body-container{
        padding-top: 0px;
    }
    .right-body-container img{
      margin-top: -120px;
      width: 80%;
      height: 80%;
     }
     #image-position-1 img{
        height: 50%;
        width: 50%;
        position: relative;
        bottom: 40px;
     }
     .footer{
        display: flex;
        flex-direction: column;
     }
     .footer-anchor{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
     }
     .footer-icons{

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 20px;
        gap: 10px;
     }
     .footer-para{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 5px;
        margin-left: 15px;
     }
     
        #footer-down{
            flex-direction: column;
           font-size: small;
            padding-bottom: 50px;
            padding-top: 50px;
      }
      .item{
            font-size: 50%;
      }
      .all-hover-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 100%;
        margin: 0 auto;
        
      }
      .all-hover-container img{
            width: 50%;
            
      }
}